<!DOCTYPE html>
<html>
	<head>
		<link rel="icon" href="data:;base64,iVBORw0KGgo=">
		<link rel="stylesheet" type="text/css" href="/stylesheets/filter.css" />

		<script>
			function activate(category) {
				var form = document.querySelector('form');
				form.setAttribute('tag', category)
				form.querySelector('input[type="text"]').setAttribute('placeholder', category);
			}

			function change(e) {
				event.preventDefault();
				var tag = e.getAttribute('tag');
				input = e.querySelector('input[type="text"]');
			
				var data = new FormData();
				data.append('tag', tag);
				data.append('category', input.value);
			
				fetch('/admin/tags/change', {
					method: 'POST',
					body: data
				}).then(function(r) {
					location = "/admin/tags";
				})
			}
		</script>
	</head>

	<body>
		<section id='filter'>
			<% @tags.each do |category, tags| %>
				<section class='filter-tag-wrapper'>
					<div class='filter-tag filter-tag--header'><%= category %></div>
					<%# <section class='availableTags'> %>
						<% tags.each do |tag| %>
							<div class='filter-tag' tag='<%= tag[:name] %>' onclick='activate("<%= tag[:name] %>")'><%= tag[:name] %></div>
						<% end %>
					<%# </section> %>
				</section>
			<% end %>		
		</section>

		<article class='form'>
			<form tag='' action='' onsubmit='change(this)'>
				<input type='text' placeholder="tag"/>
				<input type="submit" value="Change"/>
			</form>
		</article>
	</body>
</html>