.content-wrapper {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	background-color: black;
	margin-bottom: 20px;
}

.content {
	height: 100%;
	position: relative;
}

/* .content__media-wrapper {
	position: relative;
} */

.content__media {
	display: block;
	width: 100%;
	cursor: pointer;
}