.filter-wrapper {
	background-color: white;
	padding: 30px;
}

.active-filter {
	font-size: 20px;
	cursor: pointer;
}

.active-filter:not(:last-child) {
	margin-right: 6px;
}

.active-filter__operator {
	font-style: italic;
}

.active-filter__tag {
	font-weight: bold;
}

.filter-operator-wrapper {
	width: 170px;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	background-color: rgb(230, 230, 230);
	border-radius: 100px;

	margin-top: 8px;
	margin-bottom: 8px;
}

.filter-operator {
	padding: 8px 16px 8px 16px;
	border-radius: 100px;
	cursor: pointer;
}

.filter-operator--active {
	background-color: dodgerblue;
	color: white;
}

.filter-tag-wrapper {
	display: flex;
	align-items: start;
	align-content: flex-start;
}

.filter-tag {
	padding: 6px;
	margin-right: 6px;
	cursor: pointer;
}

.filter-tag:hover {
	color: dodgerblue;
}

.filter-tag--active {
	color: dodgerblue;
	opacity: 0.5;
	cursor: default;
	pointer-events: none;	
}

.filter-tag--header {
	font-weight: bold;
	cursor: default;
}

.filter-tag--header:hover {
	color: black;
}

