.header {
	background-color: rgb(220, 220, 220);
	color: rgb(40, 40, 40);

    display: flex;
    justify-content: space-between;
    align-items: center;
    
	padding: 20px;
    font-family: "SF-Pro-Display-Semibold";
}

.header__logo {
    font-size: 22px;
}

.header__button {
    font-size: 18px;
}

.header__button:not(:last-child) {
    margin-right: 6px;
}