<!DOCTYPE html>
<html>
	<head>
		<link rel="icon" href="data:;base64,iVBORw0KGgo=">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	</head>

	<body>
		<form id="signup" action="/login" method="post">
			<input type="text" placeholder="username" name="username">
			<input type="text" placeholder="password" name="password">
			<input type="submit" value="Log in">
		</form>

		<a id="signup" href="/signup">Sign up</a>
		<% if session[:login_failed] %>
			<span>Wrong username or password</span>	
		<% end %> 
	</body>
</html>