<!DOCTYPE html>
<html>
	<head>
		<link rel="icon" href="data:;base64,iVBORw0KGgo=">
	</head>

	<body>
		<form id="signup" action="/signup" method="post">
			<input type="text" placeholder="username" name="username">
			<input type="text" placeholder="email" name="email">
			<input type="password" placeholder="password" name="password">	
			<input type="submit" value="Sign up">
		</form>
	</body>
</html>