<!DOCTYPE html>
<html>
	<head>
		<link rel="icon" href="data:;base64,iVBORw0KGgo=">
		<script>
			function upload(e) {
				var sequence = document.querySelector('#upload_sequence').checked
				var tags = document.querySelector('#upload_tags').value
				var data = new FormData()

				data.append('tags', tags);
				data.append('sequence', sequence);

				Array.from(e.files).forEach(function(file, i) {
					data.append('files[]', file);
				})

				fetch('/upload', {
					method: 'POST',
					body: data
				})
			}
		</script>
	</head>

	<body>
		<input type="checkbox" id="upload_sequence" name="upload_sequence" value="false">
		<label for="upload_sequence">Sequence</label>
		<input id="upload_tags" type="text" name="upload_tags" placeholder="tags">				

		<label id="upload" class="button_wrapper">
			<input type="file" name="files" accept="image/*,video/*" multiple onchange="upload(this)">
			<%# <span class="button">upload</span> %>
		</label>
	</body>
</html>